<div class="events">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="catchEventId">
            <th mat-header-cell *matHeaderCellDef>Catch</th>
            <td mat-cell *matCellDef="let element">{{ element.catchEventId }}</td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Time Caught</th>
            <td mat-cell *matCellDef="let element">{{ element.timestamp | date:'h:mm:ss' }}</td>
        </ng-container>

        <ng-container matColumnDef="hangTime">
            <th mat-header-cell *matHeaderCellDef>Hang Time</th>
            <td mat-cell *matCellDef="let element">{{ getHangTime(element.telemetryPoints) }}ms</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>